@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://use.typekit.net/jae8bjo.css');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-serif: 'Aquavit', serif;
	--font-sans: 'Myriad-pro', sans-serif;
}
@layer base {
	body {
		@apply scroll-auto bg-neutral-50 text-neutral-900 dark:bg-stone-800 dark:text-neutral-300;
	}
	html {
		@apply scroll-smooth;
	}
	a {
		@apply text-orange-600 hover:underline;
	}
	.prose {
		@apply max-w-3xl p-5 font-sans lg:p-2 xl:p-0;
	}
	.prose h1 {
		@apply mt-24 text-center font-serif text-4xl font-black md:mt-44 md:text-7xl 2xl:text-nowrap;
	}
	.prose h1,
	.prose h2,
	.prose h3,
	.prose h4 {
		@apply text-neutral-950/90 dark:text-stone-100;
	}
	.prose h2 {
		@apply mt-12 mb-6 border-t border-t-stone-100 pt-12 font-serif text-3xl font-black dark:border-t-stone-700;
	}
	.prose h3 {
		@apply mt-12 mb-3 font-serif text-lg font-bold;
	}
	.prose h4 {
		@apply mt-6 mb-2 font-bold;
	}
	.prose p {
		@apply font-sans leading-7 text-stone-700 dark:text-stone-200;
	}

	.p a {
		@apply text-orange-600 underline-offset-4 hover:underline;
	}
	.prose figure {
		@apply mt-12 rounded-lg;
	}
	.prose img {
		@apply my-8 rounded-lg;
	}
	.prose strong {
		@apply text-2xl;
	}
	.prose figcaption {
		@apply flex items-center gap-2 pt-5 text-neutral-500 italic dark:text-neutral-400;
	}
	.prose iframe {
		@apply aspect-video h-auto w-full rounded-lg;
	}
	.prose blockquote {
		@apply mt-2 border-l-4 pl-4 text-2xl italic;
	}
	.prose ul {
		@apply my-4 font-sans;
	}

	.shadow-text {
		text-shadow: 0 0 3px black;
	}
}
